body {
    font-family: arial,sans-serif;
}

nav {
    margin-top: 15px;
}

.linkContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    color: black;
    align-items: center;
}

nav .linkContainer a {
    color: black;
    text-decoration: none;
    font-size: 13px;
    margin: 0 10px 0 10px;
}

nav .linkContainer a:hover {
    text-decoration: underline;
}

nav .linkContainer .material-icons {
    align-self: auto;
}

.navRight {
    display: flex;
    align-items: center;
}

.profileIcon {
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 32px;;
    color: seashell;
    font-size: 16px;
    font-weight: 600;
}

#logoContainer {
    height: 233;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
}

#searchBox{
    max-width: 500px;
    margin: 0 auto 0 auto;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    display: flex;
}

#searchBox input {
    border: none;
    flex-grow: 1;
}

#searchBox .material-icons {
    width: 50px;
    align-self: auto;
    line-height: 44px;
    text-align: center;
}

#buttonContainer {
    margin: 10 auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn {
    margin: 0 5px;
    background-color: #f8f8f8;
    border: none;
    height: 40px;
    color: #5F6368;
    font-size: 14px;
    padding: 0 15px
}